*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

body{
    
    background-color: hsl(212, 45%, 89%);
}

main{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 95vh;
}

.card{
    background-color: hsl(0, 0%, 100%);
    width: 320px;
    height: 497px;
    border-radius: 20px;
    box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);

}

img{
    background-color: #2C7DFA;
    height: 288px;
    width: 288px;
    border-radius: 10px;
}

.imgContainer{
    margin: 16px 16px;
}

.textContainer{
    width: 288px;
    height: 129px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.title{
    font-size: 22px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

.p1{
    width: 256px;
    font-size: 15px;
    font-weight: 400;
    margin: 0 auto;
    color: hsl(220, 15%, 55%);
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}